html,
body {
  height: 100%;
}
body {
  text-align: center;
}

.biruMuda {
  background-color: lightblue;
}

.kotak {
  width: 25px;
  height: 25px;
  margin: 10px auto;
}

.merah {
  background-color: red;
}
.hijau {
  background-color: green;
}
.biru {
  background-color: blue;
}
